 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 32px;
}

.u-section-1 .u-image-1 {
  width: 17px;
  height: 22px;
  margin: 0 auto 60px -8px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 30px auto 60px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    margin-bottom: 0;
    margin-left: -17px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 0.75rem;
    margin: -19px 203px 10px 4px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 42px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 60px;
  font-size: 1.125rem;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin: 35px 77px -15px -10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 345px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 60px;
  font-size: 1rem;
}

.u-section-3 .u-shape-1 {
  width: 15px;
  height: 14px;
  margin: -14px 77px 60px auto;
}

.u-section-3 .u-shape-2 {
  width: 10px;
  height: 10px;
  margin: -10px 71px 0 auto;
}

.u-section-3 .u-shape-3 {
  width: 10px;
  height: 10px;
  margin: -10px 59px 0 auto;
}

.u-section-3 .u-shape-4 {
  width: 10px;
  height: 10px;
  margin: -10px 47px 0 auto;
}

.u-section-3 .u-shape-5 {
  width: 10px;
  height: 10px;
  margin: 0 82px 60px auto;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 21px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin: 16px 0 0 -11px;
  }

  .u-section-3 .u-shape-1 {
    width: 10px;
    height: 10px;
    margin-right: 82px;
    margin-bottom: 0;
  }

  .u-section-3 .u-shape-5 {
    margin-top: -10px;
    margin-right: 36px;
    margin-bottom: -10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 158px;
}

.u-section-4 .u-image-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1rem;
}

.u-section-4 .u-text-1 {
  width: auto;
  font-size: 1rem;
  margin: -21px auto 60px 99px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 28px;
  }

  .u-section-4 .u-image-1 {
    width: 27px;
    height: 19px;
    margin: 24px auto 0 -16px;
  }

  .u-section-4 .u-btn-1 {
    border-style: solid;
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 0.625rem;
    margin: -19px auto 0 10px;
    padding: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 0.75rem;
    margin: -17px 130px -17px 106px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 400px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 60px;
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    font-size: 1rem;
    margin: 41px 52px 29px 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 286px;
}

.u-section-6 .u-slider-1 {
  min-height: 375px;
  margin-bottom: 60px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 21px 9px;
}

.u-section-6 .u-image-1 {
  width: 161px;
  height: 209px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 42px;
}

.u-section-6 .u-image-2 {
  width: 188px;
  height: 258px;
  margin: 22px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-6 .u-image-3 {
  width: 204px;
  height: 204px;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-6 .u-image-4 {
  width: 202px;
  height: 202px;
  margin: 64px auto 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-6 .u-image-5 {
  width: 283px;
  height: 202px;
  margin: 67px 0 0 auto;
}

.u-section-6 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-6 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 408px;
    width: 390px;
    height: auto;
    margin: -17px auto 45px -50px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 9px 0;
  }

  .u-section-6 .u-image-1 {
    width: 314px;
    height: 345px;
    margin-top: 14px;
    margin-right: 8px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-3 {
    width: 266px;
    height: 266px;
    margin-top: 59px;
    margin-right: 38px;
  }

  .u-section-6 .u-image-4 {
    height: 227px;
    margin-top: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-5 {
    margin-top: 65px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 8px;
    position: absolute;
    top: 175px;
    right: auto;
  }

  .u-section-6 .u-carousel-control-2 {
    left: auto;
    right: 0;
    position: absolute;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 628px;
}

.u-section-7 .u-shape-1 {
  height: 150px;
  margin-top: 432px;
  margin-bottom: 0;
  --top-left-radius: 10px;
  --top-right-radius: 10px;
}

.u-section-7 .u-shape-2 {
  --radius: 10px;
  height: 68px;
  margin-top: -582px;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  width: auto;
  font-size: 1rem;
  margin: -60px 290px 60px 0;
}

.u-section-7 .u-image-1 {
  width: 31px;
  height: 31px;
  margin: -33px 8px 0 auto;
}

.u-section-7 .u-group-1 {
  --radius: 10px;
  height: 119px;
  margin-top: 40px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 16px;
}

.u-section-7 .u-text-2 {
  width: auto;
  font-size: 1rem;
  margin: 76px auto 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  width: auto;
  font-weight: 700;
  margin: 13px auto 0 0;
}

.u-section-7 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.125rem;
}

.u-section-7 .u-text-5 {
  width: auto;
  font-size: 1rem;
  margin: -36px -52px 0 94px;
}

.u-section-7 .u-text-6 {
  width: auto;
  font-size: 1rem;
  margin: -16px -109px 0 151px;
}

.u-section-7 .u-image-2 {
  width: 15px;
  height: 15px;
  margin: -15px 154px 0 auto;
}

.u-section-7 .u-text-7 {
  font-size: 1rem;
  width: auto;
  font-weight: 400;
  margin: 0 176px 0 94px;
}

.u-section-7 .u-image-3 {
  width: 8px;
  height: 8px;
  margin: -318px auto 0 147px;
}

.u-section-7 .u-text-8 {
  width: auto;
  font-size: 1rem;
  margin: 112px auto 0 115px;
}

.u-section-7 .u-text-9 {
  width: auto;
  font-size: 1.125rem;
  font-weight: 400;
  margin: -107px 188px 60px 16px;
}

.u-section-7 .u-icon-1 {
  width: 11px;
  height: 11px;
  margin: -202px 28px 0 auto;
}

.u-section-7 .u-shape-3 {
  width: 15px;
  height: 15px;
  margin: 14px 16px 60px auto;
}

.u-section-7 .u-shape-4 {
  width: 244px;
  --radius: 10px;
  height: 24px;
  margin: 42px auto 0 16px;
}

.u-section-7 .u-text-10 {
  width: auto;
  font-size: 1.125rem;
  margin: -6px 170px 0 48px;
}

.u-section-7 .u-text-11 {
  width: 103px;
  margin-left: 19px;
  margin-right: 218px;
  margin-bottom: 60px;
  font-size: 1rem;
  text-decoration: none solid rgb(128, 128, 128);
}

.u-section-7 .u-text-12 {
  width: 103px;
  margin-left: 19px;
  margin-right: 218px;
  margin-bottom: 60px;
  font-size: 1rem;
}

.u-section-7 .u-text-13 {
  width: auto;
  font-size: 1rem;
  margin: -29px 141px 60px 96px;
}

.u-section-7 .u-text-14 {
  width: 103px;
  margin-left: 91px;
  margin-right: 146px;
  margin-bottom: 60px;
  font-size: 1.125rem;
}

.u-section-7 .u-text-15 {
  font-size: 1rem;
  width: auto;
  margin: 120px 115px 0 80px;
}

.u-section-7 .u-text-16 {
  width: auto;
  font-size: 1.125rem;
  margin: -179px 76px 0 119px;
}

.u-section-7 .u-text-17 {
  width: 210px;
  margin-left: 16px;
  margin-right: 114px;
  margin-bottom: 60px;
  font-size: 1rem;
}

.u-section-7 .u-text-18 {
  width: 210px;
  margin-left: 17px;
  margin-right: 113px;
  margin-bottom: 60px;
  font-size: 1.125rem;
  font-weight: 400;
}

.u-section-7 .u-shape-5 {
  width: 8px;
  height: 8px;
  margin: 0 33px 0 auto;
}

.u-section-7 .u-icon-2 {
  width: 11px;
  height: 11px;
  margin: -20px 27px 0 auto;
}

.u-section-7 .u-shape-6 {
  width: 8px;
  height: 8px;
  margin: 9px 29px 60px auto;
}

.u-section-7 .u-text-19 {
  width: auto;
  font-size: 1rem;
  text-decoration: line-through !important;
  margin: 33px 220px 0 17px;
}

.u-section-7 .u-text-20 {
  font-size: 1rem;
  width: auto;
  margin: 20px 203px 60px 16px;
}

.u-section-7 .u-text-21 {
  width: auto;
  font-size: 1rem;
  margin: -16px 99px 60px 137px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-shape-1 {
    margin-top: 283px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -432px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 20px;
    height: auto;
  }

  .u-section-7 .u-shape-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-shape-1 {
    margin-top: 273px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -423px;
  }

  .u-section-7 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-7 .u-shape-4 {
    margin-top: 39px;
  }

  .u-section-7 .u-text-10 {
    margin-top: -3px;
    font-size: 1rem;
  }

  .u-section-7 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-16 {
    font-size: 1rem;
  }

  .u-section-7 .u-text-18 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-shape-1 {
    height: 135px;
    margin-top: 50px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -223px;
  }

  .u-section-7 .u-text-1 {
    font-size: 0.75rem;
    margin: -53px 260px 0 19px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -31px;
    margin-right: 28px;
  }

  .u-section-7 .u-group-1 {
    margin-top: 181px;
    margin-bottom: 0;
    min-height: 272px;
    --bottom-left-radius: 10px;
    --bottom-right-radius: 10px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 113px;
    margin-left: 18px;
  }

  .u-section-7 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 12px;
    margin-left: 16px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 3px;
    margin-right: 27px;
    margin-left: 15px;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.625rem;
    margin-top: 34px;
    margin-right: -36px;
    margin-left: 78px;
  }

  .u-section-7 .u-text-6 {
    font-size: 0.625rem;
    margin-right: -88px;
    margin-left: 130px;
  }

  .u-section-7 .u-image-2 {
    width: 8px;
    height: 8px;
    margin-top: -12px;
    margin-right: 163px;
  }

  .u-section-7 .u-text-7 {
    font-size: 0.625rem;
    font-weight: 700;
    margin-top: 7px;
    margin-right: 180px;
    margin-left: 78px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -272px;
    margin-left: 150px;
  }

  .u-section-7 .u-text-8 {
    font-size: 0.75rem;
    margin-top: 98px;
    margin-right: 208px;
    margin-left: 78px;
  }

  .u-section-7 .u-text-9 {
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: -392px;
    margin-right: 125px;
    margin-bottom: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -17px;
    margin-right: 31px;
  }

  .u-section-7 .u-shape-3 {
    width: 8px;
    height: 8px;
    margin-top: -9px;
    margin-right: 33px;
    margin-bottom: 0;
  }

  .u-section-7 .u-shape-4 {
    width: 102px;
    height: 15px;
    --radius: 3px;
    margin-top: 162px;
  }

  .u-section-7 .u-text-10 {
    font-size: 0.75rem;
    margin-top: -17px;
    margin-right: 218px;
    margin-left: 19px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    font-size: 0.625rem;
    text-decoration: line-through !important;
    margin-top: -164px;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    font-size: 1.125rem;
    margin: -5px 221px 0 16px;
  }

  .u-section-7 .u-text-13 {
    font-size: 0.625rem;
    margin: -27px 218px 0 72px;
  }

  .u-section-7 .u-text-14 {
    font-size: 0.75rem;
    width: auto;
    margin: -14px 145px 0 89px;
  }

  .u-section-7 .u-text-15 {
    font-size: 0.625rem;
    margin-top: 242px;
    margin-right: 179px;
    margin-left: 16px;
  }

  .u-section-7 .u-text-16 {
    font-size: 0.625rem;
    margin-top: -253px;
    margin-right: 114px;
    margin-left: 16px;
  }

  .u-section-7 .u-text-17 {
    font-size: 0.625rem;
    width: auto;
    margin: 10px 190px 0 17px;
  }

  .u-section-7 .u-text-18 {
    width: auto;
    font-size: 0.75rem;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .u-section-7 .u-shape-5 {
    margin-top: -5px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: -19px;
  }

  .u-section-7 .u-shape-6 {
    width: 7px;
    height: 7px;
    margin-top: -9px;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-19 {
    font-size: 0.75rem;
    margin-top: 45px;
  }

  .u-section-7 .u-text-20 {
    font-size: 1.5rem;
    margin-top: -10px;
    margin-right: 245px;
    margin-bottom: 0;
  }

  .u-section-7 .u-text-21 {
    font-size: 0.75rem;
    margin-top: -29px;
    margin-right: 141px;
    margin-left: 95px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1496px;
}

.u-section-8 .u-shape-1 {
  height: 32px;
  --bottom-right-radius: 5px;
  --bottom-left-radius: 5px;
  margin-top: 1578px;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  margin-top: -1590px;
}

.u-section-8 .u-shape-2 {
  width: 313px;
  height: 47px;
  margin: 73px auto 60px;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  width: auto;
  margin: -29px 245px 60px 7px;
}

.u-section-8 .u-text-3 {
  font-size: 1rem;
  width: auto;
  margin: -38px auto 0 110px;
}

.u-section-8 .u-text-4 {
  width: auto;
  margin: -22px 0 60px 290px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
}

.u-section-8 .u-btn-2 {
  --radius: 8px;
  background-image: none;
  font-size: 1rem;
  margin: 30px auto 60px;
  padding: 10px 148px 10px 147px;
}

.u-section-8 .u-image-1 {
  width: 12px;
  height: 12px;
  margin: 11px auto 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 1rem;
  width: auto;
  margin-right: 231px;
  margin-bottom: 60px;
  margin-left: 22px;
}

.u-section-8 .u-text-6 {
  margin-left: 22px;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1rem;
}

.u-section-8 .u-image-2 {
  width: 18px;
  height: 18px;
  margin: 30px auto 60px 23px;
}

.u-section-8 .u-text-7 {
  width: auto;
  font-size: 1rem;
  margin-right: 0;
  margin-bottom: 60px;
  margin-left: 22px;
}

.u-section-8 .u-image-3 {
  width: 15px;
  height: 15px;
  margin: -15px 133px 60px auto;
}

.u-section-8 .u-image-4 {
  width: 14px;
  height: 14px;
  margin: -15px auto 0 42px;
}

.u-section-8 .u-text-8 {
  width: 318px;
  font-size: 1rem;
  margin: 30px 0 60px 22px;
}

.u-section-8 .u-text-9 {
  width: auto;
  font-size: 1rem;
  margin: -17px -189px 0 211px;
}

.u-section-8 .u-line-1 {
  transform-origin: center bottom;
  left: 42px;
  top: -129px;
  position: absolute;
  transform: rotate(2deg);
}

.u-section-8 .u-shape-3 {
  width: 312px;
  height: 40px;
  --top-right-radius: 10px;
  margin: 30px auto 0;
}

.u-section-8 .u-shape-4 {
  width: 312px;
  height: 40px;
  --bottom-right-radius: 10px;
  --bottom-left-radius: 10px;
  margin: 0 auto 60px 14px;
}

.u-section-8 .u-text-10 {
  width: auto;
  font-size: 1rem;
  font-weight: 400;
  margin: -70px -50px 60px 72px;
}

.u-section-8 .u-text-11 {
  font-size: 1rem;
  width: auto;
  font-weight: 400;
  margin: 18px 22px 60px;
}

.u-section-8 .u-shape-5 {
  height: 40px;
  --top-right-radius: 5px;
  --top-left-radius: 5px;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-8 .u-text-12 {
  width: 259px;
  font-weight: 400;
  font-size: 1.125rem;
  margin: 54px 52px 0 29px;
}

.u-section-8 .u-text-13 {
  font-size: 1rem;
  width: auto;
  font-weight: 400;
  margin: -103px 52px 0 29px;
}

.u-section-8 .u-shape-6 {
  height: 1px;
  --bottom-right-radius: 5px;
  --bottom-left-radius: 5px;
  width: 440px;
  margin: 37px -50px 54px;
}

.u-section-8 .u-shape-7 {
  height: 2px;
  --bottom-right-radius: 5px;
  --bottom-left-radius: 5px;
  width: 440px;
  margin: 808px -50px -743px;
}

.u-section-8 .u-image-5 {
  height: 219px;
  margin-top: -1185px;
  margin-bottom: 60px;
}

.u-section-8 .u-image-6 {
  width: 139px;
  height: 300px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 7377px auto -6518px 78px;
}

@media (max-width: 767px) {
  .u-section-8 .u-shape-1 {
    margin-top: 1568px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -1580px;
  }

  .u-section-8 .u-text-12 {
    font-size: 1rem;
  }

  .u-section-8 .u-text-13 {
    margin-top: -97px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-shape-1 {
    margin-top: 590px;
  }

  .u-section-8 .u-text-1 {
    font-size: 0.875rem;
    font-weight: 700;
    width: auto;
    margin-top: -714px;
    margin-right: 200px;
    margin-left: 0;
  }

  .u-section-8 .u-shape-2 {
    margin-top: 4px;
    margin-bottom: 0;
    height: 36px;
    --radius: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.75rem;
    margin: -27px 241px 0 11px;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.75rem;
    margin-left: auto;
  }

  .u-section-8 .u-text-4 {
    margin-top: -25px;
    margin-bottom: 0;
  }

  .u-section-8 .u-btn-1 {
    --radius: 8px;
    font-size: 0.875rem;
    margin: 29px 0 0;
    padding: 10px 142px 10px 141px;
  }

  .u-section-8 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: 7px;
    margin-bottom: 0;
    padding-right: 100px;
    padding-left: 99px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 261px;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.625rem;
    margin-top: -14px;
    margin-bottom: 0;
  }

  .u-section-8 .u-text-6 {
    font-size: 0.625rem;
    width: auto;
    margin: -16px -1px 0 23px;
  }

  .u-section-8 .u-image-2 {
    width: 12px;
    height: 12px;
    margin-top: 11px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-7 {
    font-size: 0.625rem;
    margin-top: -14px;
    margin-bottom: 0;
  }

  .u-section-8 .u-image-3 {
    width: 14px;
    height: 14px;
    margin-top: 28px;
    margin-bottom: 0;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    font-size: 0.625rem;
    margin: -12px -38px 0 60px;
  }

  .u-section-8 .u-text-9 {
    font-size: 0.625rem;
  }

  .u-section-8 .u-shape-3 {
    margin-top: 13px;
    --top-right-radius: 5px;
    --top-left-radius: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-shape-4 {
    height: 32px;
    margin-bottom: 0;
    --bottom-right-radius: 5px;
    --bottom-left-radius: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-10 {
    font-size: 0.625rem;
    font-weight: 700;
    margin: -60px -6px 0 28px;
  }

  .u-section-8 .u-text-11 {
    font-size: 0.625rem;
    font-weight: 700;
    margin: 20px 52px 0 29px;
  }

  .u-section-8 .u-text-12 {
    width: auto;
    font-weight: 700;
    font-size: 0.625rem;
    margin-top: -29px;
    margin-right: 13px;
  }

  .u-section-8 .u-text-13 {
    font-size: 0.625rem;
    font-weight: 700;
    margin-top: 21px;
    margin-right: 53px;
    margin-left: 28px;
  }

  .u-section-8 .u-shape-6 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .u-section-8 .u-shape-7 {
    height: 1px;
    margin-top: 391px;
    margin-bottom: 0;
  }

  .u-section-8 .u-image-5 {
    height: 257px;
    width: 353px;
    margin: -963px auto 0 -12px;
  }

  .u-section-8 .u-image-6 {
    height: 706px;
    margin-top: 6513px;
    margin-bottom: -6060px;
    --radius: 10px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 405px;
}

.u-section-9 .u-image-1 {
  width: 32px;
  height: 32px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/default.svg");
  background-position: 50% 50%;
  margin: 184px auto 0;
}

.u-section-9 .u-image-2 {
  width: 32px;
  height: 32px;
  background-image: url("images/default.svg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-position: 50% 50%;
  margin: 0 auto 0 154px;
}

.u-section-9 .u-image-3 {
  width: 32px;
  height: 32px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: 154px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/default.svg");
  background-position: 50% 50%;
}

.u-section-9 .u-image-4 {
  width: 32px;
  height: 32px;
  background-image: url("images/default.svg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-position: 50% 50%;
  margin: 0 auto 0 154px;
}

.u-section-9 .u-image-5 {
  width: 32px;
  height: 32px;
  background-image: url("images/default.svg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-position: 50% 50%;
  margin: 0 auto 0 154px;
}

.u-section-9 .u-text-1 {
  font-size: 1rem;
  width: auto;
  margin: -370px auto 60px 12px;
}

.u-section-9 .u-image-6 {
  background-image: url("images/positive_impact.svg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-position: 50% 50%;
}

.u-section-9 .u-text-2 {
  width: auto;
  margin: -220px auto 0 58px;
}

.u-section-9 .u-text-3 {
  width: auto;
  margin: 12px auto 0 58px;
}

.u-section-9 .u-text-4 {
  width: auto;
  margin: 8px auto 60px 58px;
}

.u-section-9 .u-text-5 {
  width: auto;
  margin: 12px auto 0;
}

.u-section-9 .u-text-6 {
  width: auto;
  margin: 8px auto 0 58px;
}

.u-section-9 .u-text-7 {
  width: auto;
  margin: 20px 22px 60px auto;
}

.u-section-9 .u-shape-1 {
  height: 49px;
  margin-top: 30px;
  margin-bottom: 0;
  --radius: 5px;
}

.u-section-9 .u-text-8 {
  margin: 30px 25px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-image-5 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-image-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-9 .u-image-1 {
    margin-top: -777px;
    margin-left: 10px;
  }

  .u-section-9 .u-image-2 {
    margin-top: 6px;
    margin-left: 11px;
  }

  .u-section-9 .u-image-3 {
    margin-top: 5px;
    margin-left: 11px;
  }

  .u-section-9 .u-image-4 {
    margin-top: 5px;
    margin-left: 11px;
  }

  .u-section-9 .u-image-5 {
    margin-top: 5px;
    margin-left: 12px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.125rem;
    margin: -237px 117px 0 0;
  }

  .u-section-9 .u-image-6 {
    width: 32px;
    height: 32px;
    margin: 216px auto 0 10px;
  }

  .u-section-9 .u-text-2 {
    margin-top: -213px;
    margin-left: 54px;
  }

  .u-section-9 .u-text-3 {
    margin-top: 24px;
    margin-left: 54px;
  }

  .u-section-9 .u-text-4 {
    margin-top: 21px;
    margin-bottom: 0;
    margin-left: 54px;
  }

  .u-section-9 .u-text-5 {
    margin-top: 20px;
    margin-left: 54px;
  }

  .u-section-9 .u-text-6 {
    margin-top: 21px;
    margin-left: 54px;
  }

  .u-section-9 .u-text-7 {
    margin: 22px auto 0 54px;
  }

  .u-section-9 .u-shape-1 {
    width: 372px;
    margin-top: 34px;
    margin-left: -16px;
    margin-right: -16px;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin: -32px -50px 60px 49px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 454px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 60px 0;
}

.u-section-10 .u-image-1 {
  width: 10px;
  height: 10px;
  margin: 0;
}

.u-section-10 .u-text-2 {
  font-size: 1rem;
  margin: 30px auto 60px 0;
}

.u-section-10 .u-text-3 {
  margin-left: 11px;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.125rem;
}

.u-section-10 .u-shape-1 {
  height: 1px;
  --bottom-right-radius: 5px;
  --bottom-left-radius: 5px;
  width: 440px;
  margin: 46px -50px 0;
}

.u-section-10 .u-text-4 {
  width: auto;
  margin: 28px auto 60px 10px;
}

.u-section-10 .u-shape-2 {
  height: 2px;
  --bottom-right-radius: 5px;
  --bottom-left-radius: 5px;
  width: 440px;
  margin: 1304px -50px -1304px;
}

@media (max-width: 767px) {
  .u-section-10 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: -1476px;
    margin-bottom: 0;
  }

  .u-section-10 .u-image-1 {
    width: 17px;
    height: 17px;
    margin-top: 6px;
    margin-right: auto;
  }

  .u-section-10 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: -17px;
    margin-bottom: 0;
    margin-left: 23px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    font-size: 0.625rem;
    margin-top: 1px;
    margin-bottom: 0;
    margin-left: 5px;
  }

  .u-section-10 .u-shape-1 {
    height: 2px;
    margin-top: 1730px;
  }

  .u-section-10 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -1391px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .u-section-10 .u-shape-2 {
    margin-top: 4724px;
    margin-bottom: -3223px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 4276px;
}

.u-section-11 .u-image-1 {
  width: 230px;
  height: 260px;
  margin: 51px auto 0;
}

.u-section-11 .u-image-2 {
  width: 230px;
  height: 231px;
  margin: 45px 41px 60px auto;
}

.u-section-11 .u-image-3 {
  width: 230px;
  height: 260px;
  margin: 51px auto 0;
}

.u-section-11 .u-image-4 {
  width: 260px;
  height: 260px;
  margin: 76px auto 60px;
}

.u-section-11 .u-shape-1 {
  height: 2px;
  --bottom-right-radius: 5px;
  --bottom-left-radius: 5px;
  width: 440px;
  margin: 1796px -50px -1758px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 1rem;
  width: auto;
  margin: 20px auto 0 24px;
}

.u-section-11 .u-text-2 {
  font-size: 1rem;
  width: auto;
  margin: 20px 24px 0;
}

.u-section-11 .u-text-3 {
  font-size: 1rem;
  width: auto;
  margin: 20px 64px 0 24px;
}

.u-section-11 .u-shape-2 {
  width: 10px;
  height: 15px;
  margin: 20px auto 0 24px;
}

.u-section-11 .u-text-4 {
  font-size: 1rem;
  width: auto;
  margin: 20px 24px 0;
}

.u-section-11 .u-text-5 {
  font-size: 1rem;
  width: auto;
  margin: 20px 47px 0 24px;
}

.u-section-11 .u-shape-3 {
  width: 10px;
  height: 15px;
  margin: -519px auto 60px 3px;
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    width: 320px;
    height: 332px;
    margin-top: -1495px;
  }

  .u-section-11 .u-image-2 {
    width: 320px;
    height: 332px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-11 .u-image-3 {
    width: 320px;
    height: 288px;
    margin-top: 0;
  }

  .u-section-11 .u-image-4 {
    width: 320px;
    height: 288px;
    margin-top: 41px;
    margin-bottom: 0;
  }

  .u-section-11 .u-shape-1 {
    margin-top: 2885px;
    margin-bottom: 0;
  }

  .u-section-11 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 631px;
    margin-right: 142px;
    margin-left: 23px;
  }

  .u-section-11 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 9px;
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 11px;
  }

  .u-section-11 .u-shape-2 {
    margin-top: 79px;
    margin-left: 3px;
  }

  .u-section-11 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -78px;
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-11 .u-text-5 {
    font-size: 0.75rem;
    margin-top: 11px;
    margin-right: 51px;
    margin-left: 20px;
  }

  .u-section-11 .u-shape-3 {
    margin-top: -374px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 3610px;
}

.u-section-12 .u-text-1 {
  width: auto;
  font-size: 1rem;
  margin: 41px auto 0 0;
}

.u-section-12 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 60px;
  font-size: 1.125rem;
}

.u-section-12 .u-image-1 {
  width: 144px;
  height: 300px;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: 1106px auto 60px 82px;
}

.u-section-12 .u-image-2 {
  box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-12 .u-image-3 {
  box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-12 .u-image-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-12 .u-image-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-12 .u-image-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-12 .u-image-7 {
  height: 221px;
  margin-top: 30px;
  margin-bottom: 60px;
  --radius: 10px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 767px) {
  .u-section-12 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 3611px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -4363px;
  }

  .u-section-12 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 29px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-12 .u-image-1 {
    height: 679px;
    --radius: 10px;
    margin-top: 1926px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-image-2 {
    height: 766px;
    --radius: 10px;
    width: 352px;
    margin: 54px -6px 0;
  }

  .u-section-12 .u-image-3 {
    height: 506px;
    margin-top: 54px;
    margin-bottom: 0;
    --radius: 10px;
  }

  .u-section-12 .u-image-4 {
    height: 207px;
    margin-top: 54px;
    margin-bottom: 0;
    --radius: 10px;
  }

  .u-section-12 .u-image-5 {
    height: 231px;
    margin-top: 54px;
    margin-bottom: 0;
    --radius: 10px;
  }

  .u-section-12 .u-image-6 {
    height: 208px;
    --radius: 10px;
    width: 334px;
    margin: 54px auto 0 0;
  }

  .u-section-12 .u-image-7 {
    margin-top: 54px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-13 .u-text-1 {
  margin-bottom: 60px;
}

.u-section-13 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
  font-size: 1.125rem;
}

.u-section-13 .u-image-1 {
  width: 58px;
  height: 25px;
  margin: 11px auto 0 0;
}

.u-section-13 .u-text-3 {
  font-size: 1rem;
  width: auto;
  margin: -449px 237px 0 0;
}

.u-section-13 .u-text-4 {
  font-size: 1rem;
  width: auto;
  margin: -449px 241px 0 0;
}

.u-section-13 .u-image-2 {
  width: 46px;
  height: 28px;
  margin: -458px auto 0 0;
}

.u-section-13 .u-image-3 {
  width: 69px;
  height: 27px;
  margin: -457px auto 0 66px;
}

.u-section-13 .u-image-4 {
  width: 35px;
  height: 27px;
  margin: -457px auto 0 152px;
}

.u-section-13 .u-image-5 {
  width: 23px;
  height: 24px;
  margin: -454px 116px 0 auto;
}

.u-section-13 .u-text-5 {
  font-size: 1rem;
  width: auto;
  margin: -449px 241px 0 0;
}

.u-section-13 .u-image-6 {
  width: 31px;
  height: 32px;
  margin: -462px auto 0 0;
}

.u-section-13 .u-image-7 {
  width: 43px;
  height: 23px;
  margin: -453px auto 0 51px;
}

.u-section-13 .u-text-6 {
  font-size: 1rem;
  width: auto;
  margin: -453px 321px 0 0;
}

.u-section-13 .u-image-8 {
  width: 58px;
  height: 26px;
  margin: -456px auto 0 0;
}

.u-section-13 .u-shape-1 {
  height: 2px;
  --bottom-right-radius: 5px;
  --bottom-left-radius: 5px;
  width: 440px;
  margin: 821px -50px -788px;
}

.u-section-13 .u-shape-2 {
  height: 2px;
  --bottom-right-radius: 5px;
  --bottom-left-radius: 5px;
  width: 440px;
  margin: -7974px -50px 60px;
}

.u-section-13 .u-image-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

@media (max-width: 767px) {
  .u-section-13 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    width: auto;
    margin: -127px 175px 0 0;
  }

  .u-section-13 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 20px;
    margin-right: 174px;
    margin-bottom: 0;
  }

  .u-section-13 .u-image-1 {
    margin-left: 2px;
  }

  .u-section-13 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 20px;
  }

  .u-section-13 .u-text-4 {
    font-size: 0.75rem;
    margin-top: -4px;
    margin-right: 240px;
  }

  .u-section-13 .u-image-2 {
    margin-top: 27px;
    margin-left: 2px;
  }

  .u-section-13 .u-image-3 {
    margin-top: -27px;
    margin-left: 68px;
  }

  .u-section-13 .u-image-4 {
    margin-top: -25px;
    margin-left: 154px;
  }

  .u-section-13 .u-image-5 {
    margin-top: -25px;
    margin-right: auto;
    margin-left: 203px;
  }

  .u-section-13 .u-text-5 {
    font-size: 0.75rem;
    margin-top: 14px;
    margin-right: 240px;
  }

  .u-section-13 .u-image-6 {
    margin-top: 27px;
    margin-left: 2px;
  }

  .u-section-13 .u-image-7 {
    margin-top: -27px;
    margin-left: 53px;
  }

  .u-section-13 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-right: 320px;
  }

  .u-section-13 .u-image-8 {
    margin-top: 11px;
    margin-left: 2px;
  }

  .u-section-13 .u-shape-1 {
    height: 1px;
    margin-top: -388px;
    margin-bottom: 0;
  }

  .u-section-13 .u-shape-2 {
    margin-top: -9317px;
    margin-bottom: 0;
  }

  .u-section-13 .u-image-9 {
    height: 362px;
    margin-top: 9744px;
    margin-bottom: 60px;
    --radius: 10px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 633px;
}

.u-section-14 .u-text-1 {
  margin-bottom: 0;
}

.u-section-14 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
}

.u-section-14 .u-shape-1 {
  width: 125px;
  --radius: 5px;
  height: 28px;
  margin: 30px auto 60px 0;
}

.u-section-14 .u-text-3 {
  font-size: 1rem;
  width: auto;
  margin: -25px 208px 0 4px;
}

.u-section-14 .u-shape-2 {
  width: 147px;
  --radius: 5px;
  height: 30px;
  margin: -24px auto 0 157px;
}

.u-section-14 .u-text-4 {
  font-size: 1rem;
  width: auto;
  margin: -25px 51px 60px 161px;
}

.u-section-14 .u-shape-3 {
  width: 63px;
  --radius: 5px;
  height: 30px;
  margin: 13px auto 0 0;
}

.u-section-14 .u-text-5 {
  font-size: 1rem;
  width: auto;
  margin: -25px 218px 0 4px;
}

.u-section-14 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  width: auto;
  margin: 42px auto 60px 0;
}

.u-section-14 .u-shape-4 {
  width: 236px;
  --radius: 10px;
  height: 42px;
  margin: 30px auto 60px 0;
}

.u-section-14 .u-text-7 {
  font-size: 1rem;
  width: auto;
  margin: -27px auto 60px 20px;
}

.u-section-14 .u-image-1 {
  width: 39px;
  height: 39px;
  margin: -31px 0 60px auto;
}

.u-section-14 .u-image-2 {
  width: 170px;
  height: 257px;
  margin: 51px auto 59px 35px;
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-14 .u-text-1 {
    width: auto;
    margin-top: -5715px;
    margin-right: auto;
    margin-left: 4px;
  }

  .u-section-14 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -313px;
    margin-right: auto;
  }

  .u-section-14 .u-shape-1 {
    width: 147px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 1px;
  }

  .u-section-14 .u-text-3 {
    font-size: 0.75rem;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-14 .u-shape-2 {
    width: 126px;
    margin-left: 158px;
  }

  .u-section-14 .u-text-4 {
    font-size: 0.75rem;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 160px;
  }

  .u-section-14 .u-shape-3 {
    margin-left: 1px;
  }

  .u-section-14 .u-text-5 {
    font-size: 0.75rem;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-14 .u-text-6 {
    font-size: 0.875rem;
    margin-bottom: 0;
  }

  .u-section-14 .u-shape-4 {
    height: 39px;
    width: 304px;
    --top-left-radius: 10px;
    --bottom-left-radius: 10px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 1px;
  }

  .u-section-14 .u-text-7 {
    font-size: 0.75rem;
    margin-bottom: 0;
    margin-left: 16px;
  }

  .u-section-14 .u-image-1 {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 301px;
  }

  .u-section-14 .u-image-2 {
    height: 240px;
    margin-top: -489px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 217px;
}

.u-section-15 .u-text-1 {
  width: 269px;
  font-size: 1rem;
  margin: 30px 41px 60px 30px;
}

.u-section-15 .u-image-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-15 .u-image-2 {
  width: 120px;
  height: 88px;
  margin-top: 30px;
  margin-bottom: 60px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-15 .u-image-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-15 .u-image-4 {
  width: 170px;
  height: 138px;
  margin: 30px auto 60px 18px;
}

.u-section-15 .u-shape-1 {
  width: 440px;
  height: 24px;
  margin: -2718px -50px 0;
}

.u-section-15 .u-text-2 {
  width: auto;
  margin: -51px 56px 60px 15px;
}

@media (max-width: 575px) {
  .u-section-15 .u-text-1 {
    width: auto;
    font-size: 0.625rem;
    margin: -1549px 71px 0 0;
  }

  .u-section-15 .u-image-1 {
    height: 77px;
    margin-top: -10639px;
    margin-bottom: 0;
    --radius: 10px;
  }

  .u-section-15 .u-image-2 {
    width: 67px;
    height: 48px;
    --radius: 10px;
    margin: -34px auto 0 7px;
  }

  .u-section-15 .u-image-3 {
    width: 51px;
    height: 37px;
    --radius: 10px;
    margin: -1359px auto 0 15px;
  }

  .u-section-15 .u-image-4 {
    height: 254px;
    margin-top: 1389px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-15 .u-shape-1 {
    height: 33px;
    margin-top: -2799px;
  }

  .u-section-15 .u-text-2 {
    margin-top: -24px;
    margin-right: 71px;
    margin-left: 77px;
  }
}